@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&display=swap');

:root {
    --bg-color: rgb(31, 30, 30);
    --fg-color: rgb(255, 255, 255);
    --theme-color: rgb(3, 234, 3);
    --brand-font: "Libertinus Keyboard", system-ui
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/image.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--theme-color);
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 5px solid black;
}

.logo {
    font-size: 2rem;
    color: black;
    color: rgb(2, 124, 0);
}
.logo span {
    font-size: 2rem;
    color: black;
    color: rgb(214, 0, 100);
}
.first-letter {
    font-size: 2rem;
    color: rgb(2, 124, 0);
    font-family: "Libertinus Keyboard"
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    display: inline-block;
    font-weight: bold;
}


nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(255, 0, 128);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    background-color: var(--theme-color);
    margin-top: 5%;
    font-size: 20px;
    color: black;
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
    width: 68rem;
    text-align: center;
}
.header-text h1 {
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.header-text h1 span {
    color: rgb(0, 128, 0);
}
/* About Section */
#about {
    padding: 80px 0;
    color: #ababab;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 30%;
}
.about-col-1 img {
    width: 130%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.about-col-2 .subtitle {
    color: white;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}
.tab-contents a {
    color: #a50034;
    text-decoration: none;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}
/* Services Section */
#services {
    padding: 30px 0;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background, 0.5s, transform 0.5s;
}
.services-list i {
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list a {
    text-decoration: none;
    color: var(--fg-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
}
.services-list div:hover {
    background: #ff004f;
    transform: translateY(-10px)
}
/* Portfolio Section */
#portfolio {
    padding: 50px 0;
}
i {
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 30px;
}
button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(34, 111, 255);
    font-size: 20px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background, 0.5s, transform 0.5s;
}
.work-list div:hover {
    background: #ff004f;
    transform: translateY(-10px)
}
.work-list a {
    text-decoration: none;
    color: var(--fg-color);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid white;
    padding: 8px;
    border-radius: 10px;
    display: inline-block;
}